* {
  margin:0;
  padding:0;
  text-decoration: none;
}

h6 {
  font-size: 6px;
}

body {
  background-color: #fff;
  width: 100%;
  height: auto;
  color: #223654;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

header {
  float: left;
  width: 100%;
  display: flex;
}

div.banner {
  width:100vw;
}


div.headcontainerone {
  font-family: Roboto, sans-serif;
  background-color: #095797;
  color: #fff;
  min-height: 72px;
  width: 100%;
}

div.headcontainertwo {
  width: auto;
  padding-left: 15px;
  background-color: #095797;
}

div.header {
  width:100%;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 8%;
}

div.directory {
  font-family: Roboto;
  font-size: 12px;
  padding-left: 15px;
  padding-top: 2px;
}

div.title {
  padding-left: 15px;
  margin-top: 3%;
  font-size: 20px;
}

div.orange {
  background-color: #f09686;
  width:3.2%;
  height:1%;
  color: #f09686;
  font-size: 4px;
}

button {
  background: none;
  border: none;
  display: inline-block;
  margin-left: 8%;
  margin-top: 16px;
  vertical-align: top;
}

button img{
  height: 40px;
}

article.bgimage {
  background-color: #f09686;
  padding-top: 50%;
  width: 100%;
  height:50%;
  background: url("../images/maskchild.png");
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
}

article.bgimage2 {
  background-color: #f09686;
  padding-top: 50%;
  width: 100%;
  height:50%;
  background: url("../images/studentslistening.png");
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
}

article.bgimage3 {
  background-color: #f09686;
  padding-top: 50%;
  width: 100%;
  height:50%;
  background: url("../images/shredding.png");
  background-size: contain;
  background-position: center center;
  background-repeat:no-repeat;
}

article.bgimage4 {
  background-color: #f09686;
  padding-top: 50%;
  width: 100%;
  height:50%;
  background: url("../images/blackboard.png");
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
}


article.boxcontainer {
  width: 100%;
  /* height:100%; */
  box-sizing: border-box;
  padding-top: 2%;
  background-color: #ecf2f7;
  padding-bottom: 2%;
}

article.boxes {
  background-color: #ecf2f7;
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
}

article.boxes button {
  display: flex;
  height: 50%;
    margin-bottom: 20%;
}

article.boxes article.box1 {
  background: url("../images/square.png");
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-size: cover;
  position: relative;
  border-color: #fff;
  border-style: solid;
  border-width: thin;
  width: 20%;
  height: 40%;
}

article.boxes article.box1:hover {
  border-color: #095797;
  border-style: solid;
  border-width: thin;
}

article.boxes article.box1 h3 {
  padding-left: 3%;
  padding-top: 3%;
}

article.boxes article.box2 {
  background: url("../images/square.png");
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-size: cover;
  border-color: #fff;
  border-style: solid;
  border-width: thin;
  width: 20%;
  height: 40%;
  position: relative;
}

article.boxes article.box2:hover {
  border-color: #095797;
  border-style: solid;
  border-width: thin;
}

article.boxes article.box2 h3 {
  padding-left: 3%;
  padding-top: 3%;
}

article.boxes article.box3 {
  background: url("../images/square.png");
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-size: cover;
  border-color: #fff;
  border-style: solid;
  border-width: thin;
  width: 20%;
  height: 40%;
  position: relative;
}

article.boxes article.box3:hover {
  border-color: #095797;
  border-style: solid;
  border-width: thin;
}

article.boxes article.box3 h3 {
  padding-left: 3%;
  padding-top: 3%;
}

article.boxes article.box4 {
  background: url("../images/square.png");
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-size: cover;
  border-color: #fff;
  border-style: solid;
  border-width: thin;
  width: 20%;
  height: 20%;
  position: relative;
}

article.boxes article.box4:hover {
  border-color: #095797;
  border-style: solid;
  border-width: thin;
}

article.boxes article.box4 h3 {
  padding-left: 3%;
  padding-top: 3%;
}

article.boxes button img {

}

article.boxes button div.text {
}

article.boxes button div.text div.par {
  margin-top: 10%;
  padding-top: 10%;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  color: #223654;

}

article.boxes button h3 {
  display: flex;
  flex-flow: row;
  align-self: flex-end;
  color: #223654;
}

article.goal {
  background-color: #223654;
height:auto;
  width: 100%;
  position: absolute;
}

article.goalcontainer {
  position: relative;
  margin-left: 10%;
  margin-top: 2.5%;
  background-color: #fff;
  height:20%;
  width:80%;
  color: #223654;
}

article.goal article.goaltext {
  margin-left: 8%;
  padding-top: 2%;
  font-size: 20px;
  padding-bottom: 10%;
}

article.goal article.goalcontainer article.goaltext h2 {
  margin-top: 5%;
}

article.goal article.goalcontainer article.goaltext a{
  padding-top: 5%;
}

article.benefits {
  height: 50%;
  width: 100%;
  padding-bottom: 10%;
}

article.centerimage {
  height:120%;
  width: 100%;
}

article.centerimage article.centerimagebackground {
  position: relative;
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  height: 90%;
  padding-bottom: 10%;
  background: url("../images/childsit.png");
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
}

article.textoverlay {
  margin-left: 60%;
  background-color: #fff;
  width:40%;
  height:35%;
  padding-bottom: 5%;
}

article.textoverlay h2 {
  padding-top: 5%;
  padding-left: 8%;
}

article.textoverlay p {
  padding-left: 8%;
  padding-top: 5%;
  margin-right: 12%;
}


article.conduct {
  background-color: #223654;
height:auto;
  width: 100%;
  position: absolute;
}

article.conductcontainer {
  position: relative;
  margin-left: 10%;
  margin-top: 2.5%;
  background-color: #fff;
  height:20%;
  width:80%;
  color: #223654;
}

article.conduct article.conducttext {
  margin-left: 8%;
  padding-top: 2%;
  font-size: 20px;
  padding-bottom: 10%;
}

article.conduct article.conductcontainer article.conducttext h2 {
  margin-top: 5%;
}

article.conduct article.conductcontainer article.conducttext a{
  padding-top: 5%;
}

footer {
  width: 100%;
  height:10%;
  padding-bottom:5%;
  padding-left: 45%;
  padding-top: 5%;
  background-color: #fff;
  position: absolute;
}

footer.footimg img {
  display: flex;
  align-self: center;
}


article.long {
  background-color: #223654;
height:auto;
  width: 100%;
  position: absolute;
}

article.longcontainer {
  position: relative;
  margin-left: 10%;
  margin-top: 2.5%;
  background-color: #fff;
  height:20%;
  width:80%;
  color: #223654;
}

article.long article.longtext {
  margin-left: 8%;
  padding-top: 2%;
  font-size: 20px;
  padding-bottom: 10%;
}

article.long article.longcontainer article.longtext h2 {
  margin-top: 5%;
}

article.long article.longcontainer article.longtext a{
  padding-top: 5%;
}
